@font-face {
    font-family: 'LXGW WenKai GB Screen';
    src: url('/fonts/LXGWWenKaiGBScreen.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
  }
  

@supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
    .navbar .dropdown-collapse, .top-nav-collapse, .navbar-col-show {
        background: rgba(47, 65, 84, 0.7);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}


